* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.app-layout {
    width: 100%;
    min-height: 100vh;
    
}

.sidebar {
    background-color: #4aa102 !important;
    background: #13274F;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 20px;
     background-color: #326a03;
    border-radius: 10px;
}

.logo-text {
    color: #fff;
    font-size: 1.5rem;
    
}

.sidebar-menu {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #326a03;
}

.menu-item {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.menu-icon {
    font-size: 20px;
}

.menu-text {
    transition: opacity 0.3s ease;
}

.menu-text.collapsed {
    opacity: 0;
}

.header {
    padding: 0;
    background: #4aa102;
    border-bottom: 1px solid #E0E0E0;
}

.collapse-button {
    font-size: 16px;
    width: 64px;
    height: 64px;
    color: #fff;
}

.content {
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
    background: #F5F5F5;
}
